.service{
    grid-column: 3/11;
    grid-row: 2/3;
    border-radius: 30px;
    margin: 8rem 0;
    padding: 4rem;
    // @media only screen and (max-width:$bp-largest) {padding: 2rem; h4{padding: 0;} }
    // @media only screen and (max-width:$bp-medium) {margin: 4rem 3rem; grid-column: 1/-1;}
    &-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
    }
    &-box{
        padding: 3rem;
        background-color: $color-primary;
        img{
            width: 6rem;
        }
    }
}