
.header{
    position: relative;
    grid-column: 1/-1;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    &-top{
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        background-image: linear-gradient(to bottom,$color-primary 10%,rgba($color-primary,.6) 60%, transparent 100%);
        button{margin-right: 10rem; margin-left: 1rem;}
    }
    &-logo{
        width: 11rem;
        padding: 1rem 2rem;
        @media only screen and (max-width:$bp-medium) {width: 9rem;padding:2rem 0 2rem 2rem;}
    }
    
    &-main{
        padding-top: 5rem;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        img{
            padding-top: 8rem;
            width: 50%;
            @media only screen and (max-width:$bp-largest) {width: 65%;}
            @media only screen and (max-width:$bp-large) {width: 85%;}
            @media only screen and (max-width:$bp-medium) {width: 95%;}
        }
    }
    &-text{
        justify-self: center;
        width: 45%;
        @media only screen and (max-width:$bp-largest) {width: 70%;}
        @media only screen and (max-width:$bp-medium) {width: 85%;}
        &-box{

        }
    }
}

.navigation{
    &-checkbox{display: none;}
    &-btn{
        background-color: $color-primary;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;

    }

    &-background{
        z-index: 1000;
        height: 0;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-image:linear-gradient(to bottom,$color-secondary-darker,rgba($color-secondary,.7));
        transition: all 1s ;
    }

    &-nav{
        height: 50vh;
        width: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 1500;
        opacity: 0;
        transform-origin: right;
        transition: all ;
        transition-delay: .3s;
        display: none;
    }
    &-list{
        list-style: none;
    }
    &-link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 700;
            color: white;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%,white 50%);
            background-size: 270%;
            transition: all .5s;
            span{
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary-dark ;
            transform: translateX(-1rem);
        }
    }

    &-checkbox:checked ~ &-background{
        height: 200rem;
    }
    &-checkbox:checked ~ &-nav{
        display: block;
        opacity: 1;
        width: 100%;
    }

    &-icon{
        position: relative;
        margin-top: 3.4rem;
        
        &,
        &::before,
        &::after{
            width: 3.3rem;
            height: 2px;
            background-color: $color-secondary-dark;
            display: inline-block;
            
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .3s;
        }
        &::after{top: .8rem;}
        &::before{top: -.8rem;}
    }
    &-btn:hover &-icon{
        height: 3px;
    }
    &-btn:hover &-icon::before{
        top: -1rem; height: 3px;
    }
    &-btn:hover &-icon::after{
        top: 1rem; height: 3px;
    }

    &-checkbox:checked + &-btn &-icon{
        background-color: transparent;
    }

    &-checkbox:checked + &-btn &-icon::before{
        transform: rotate(45deg);
        top: 0;
    }

    &-checkbox:checked + &-btn &-icon::after{
        transform: rotate(-45deg);
        top: 0;
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        opacity: 1;
        transform: translateX(-4px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveOutRight {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    20%{
        opacity: 1;
        transform: translateX(-4px);
    }
    100%{
        opacity: 0;
        transform: translateX(10);
    }
}