
.gallery{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:7rem 1.5rem;
    grid-column: 1/-1;
    
    &-main{
        display: grid;
        grid-template: repeat(7, 5vw)/repeat(8, 1fr);
        gap: 2.5rem;
    }
    &-shape{
        width: 100%;
        height: 100%;
        position: relative;
        transition: all .5s;

        &-1{ grid-area:1/1/3/3 ;}
        &-2{ grid-area:1/3/4/6;}
        &-3{ grid-area: 1/6/3/7;}
        &-4{ grid-area: 1/7/3/9;}
        &-5{ grid-area:3/1/6/3;}
        &-6{ grid-area:4/3/6/5 ;}
        &-7{ grid-area:4/5/5/6 ;}
        &-8{ grid-area:3/6/5/8 ;}
        &-9{ grid-area:3/8/6/9 ;}
        &-10{ grid-area:6/1/8/2 ;}
        &-11{ grid-area: 6/2/8/4;}
        &-12{ grid-area: 6/4/8/5;}
        &-13{ grid-area:5/5/8/8 ;}
        &-14{ grid-area:6/8/8/9 ;}

        &:hover .gallery-caption{
            opacity: 1;
            transform: translate(-50% , -50%) scale(1.1);
        }
        &:hover .gallery-img{
            filter: brightness(0.3) blur(2px);
            transform: scale(1.08);
        }
    }
    &-caption{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , 0%);
        opacity: 0;
        color: $color-secondary-lighter;
        font-weight: 800;
        font-size: 150%;
        text-align: center;
        transition: all .5s;
        
        // &-small{
        //     font-size: 1.2rem;
        // }
    }
    &-btn{
        text-decoration: none;
        padding: .5rem;
        font-weight: 600;
        transition: all .5s;
        font-size: 1.6rem;
        color: $color-secondary-dark;
        border-bottom: 2px solid $color-secondary-dark;
        span{display: none;}
        &:hover{
            background-color: $color-secondary-dark;
            color: $color-secondary-lighter;
            span{display: inline-block;}
        }
    }
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
        border-radius: 2rem;
        transition: all .5s;
    }
}