.service{
    grid-column: 3/11;
    grid-row: 2/3;
    border-radius: 30px;
    margin: 8rem 0;
    padding: 4rem;
    @media only screen and (max-width:$bp-largest) {grid-column: 2/12;}
    @media only screen and (max-width:$bp-medium) {margin-bottom: 3rem;}
    &-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        @media only screen and (max-width:$bp-medium) {grid-template-columns: 1fr;}
    }
    &-box{
        padding: 3rem;
        background-color: $color-primary;
        img{
            width: 6rem;
        }
    }
}